html,
body {
  font-size: 1rem; }

.jumbotron h1 {
  font-size: 55px;
  margin: 0; }

.jumbotron .description-row {
  margin-top: 30px; }

.jumbotron .row {
  transition: opacity, 1s; }

.jumbotron .hiddenForTest {
  opacity: 0; }

.jumbotron .targets > div {
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.jumbotron .targets .example-square {
  background-image: url(../img/square.png); }

.jumbotron .targets .example-diamond {
  background-image: url(../img/diamond.png); }

.content-container {
  padding: 100px 0; }
  .content-container.no-cursor {
    cursor: none; }
  .content-container .stimuli-container {
    display: block;
    height: 250px;
    position: relative;
    left: calc(50% - 150px); }
    .content-container .stimuli-container .canvas {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      left: 25px;
      position: absolute;
      top: 0;
      width: 250px;
      height: 250px; }
      .content-container .stimuli-container .canvas.cross {
        background-image: url(../img/cross.png); }
      .content-container .stimuli-container .canvas.stimulus-0 {
        background-image: url(../img/square.png); }
      .content-container .stimuli-container .canvas.stimulus-1 {
        background-image: url(../img/diamond.png); }
  .content-container .start-button {
    height: 30%;
    position: relative;
    top: 35%;
    width: 100%; }
  .content-container .end-screen {
    display: none;
    text-align: center; }
    .content-container .end-screen .response-values {
      height: 200px;
      width: 200px; }

footer {
  text-align: center;
  padding-bottom: 10px; }
  footer .separator {
    margin: 0 5px; }
  footer a {
    margin: 5px; }
