.container.content-container oncontextmenu="return false;"
  .row
    .col-xs-12.end-screen
      h1
        | Well done!
      p
        | The test is over, thank you very much!
      textarea.response-values

    .col-xs-12.stimuli-container
      .canvas.cross
        button.btn.btn-primary.start-button
          | start
      .canvas.stimulus.stimulus-0
      .canvas.stimulus.stimulus-1
