/ .container
/   hr
/   footer
/     p
/       | &copy; 2017 Implisense GmbH
/       span.separator
/         | &bull;
/       a href="https://github.com/dalphi" target="_blank"
/         | More about the DALPHI project
