.jumbotron
  .container
    .row.non-test-information
      .col-xs-12
        h1
          | Left Right Click RT

    .row.description-row.non-test-information
      .col-xs-12
        p
          | This tool measures your reaction time using the left and the right mouse button. After clicking on "start", focus on the fixation cross that appears behind the button. After a short time, either a square or a diamond appears.&nbsp;
          strong
            | Click left if the square appeared and click right if the diamond appeard.&nbsp;
          | Be as fast as you can. The test stops automatically after 200 trials.

    .row.targets
      .col-xs-1.example-square
      .col-xs-1.col-xs-offset-10.example-diamond
